<h1> Bookings </h1>
<ul>
<% if policy(Booking).display? %>
  <% @bookings.each do |booking| %>
  <li> <%= booking.place %> </li> <%= link_to 'validate',  edit_warrior_booking_path(booking.warrior_id, booking) %>
  <% end %>
  </ul>
<% end %>
