<div class="footer ">
  <div class="footer-links">
    <a href="https://www.instagram.com/alexandreburon/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pg/TehLurdOfTehReingsOfficial/posts/?ref=page_internal"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/gary-machenaud-13468215b/"><i class="fab fa-linkedin"></i></a>
  </div>
  <br/>
  <div class="footer-copyright">
    The <i class="fas fa-crown"></i> of the Rent © - since Batch#276
  </div>
</div>
