<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542403764-19e1bb75cc75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="banner-text">
    <h1>Don't fear the Dragon anymore</h1>
    <p><strong>Join the Guild</strong> and offer you the services of the most <strong>skilled</strong> and <strong>ruthless</strong> warriors in the <strong>Middle Earth</strong></p>
    <a class="btn btn-ghost" href="/warriors">Found a Mercenary</a>
  </div>
</div>
<h2 class="text-center mt-3">Check out these awesome warriors you might want to recruit!</h2>
<div class="cards">
  <% @warriors_sample.each do |warrior|%>
    <div class="card-warrior-index">
        <%= cl_image_tag warrior.photo, crop: :fill, class: 'card-warrior-index-img'%>
      <div class="card-warrior-index-infos">
        <div>
          <h3><%= warrior.nickname %></h3>
          <p><%= warrior.race %></p>
        </div>
        <h3 class="card-warrior-index-pricing"><%= warrior.price %>€ per day</h3>
      </div>
    </div>
  <% end %>
</div>

