<div class="wrapper">
  <div class="content">
    <div class="top"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h6>Nickname</h6>
          <p>Day rate</p>
        </div>
        <div class="d-flex justify-content-center align-items-center warrior-info">
          <%= link_to "#" do %>
            <i class="fas fa-cart-plus"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="far fa-list-alt"></i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Species</th>
          <th>Specialty</th>
        </tr>
        <tr>
          <td>(value)</td>
          <td>(value)</td>
        </tr>
        <tr>
          <th>Weapon</th>
        </tr>
        <tr>
          <td>(value)</td>
        </tr>
      </table>
    </div>
  </div>
</div>
