<h1>My warriors </h1>
<div class="container">
    <div>
      <div class="cards-grid-my-warriors">
        <% if policy(Warrior).owner? %>
          <% @warriors.each do |warrior| %>
            <div class="d-flex flex-column card-warrior-mine">
              <%= link_to "Edit", "#", class: "btn btn-info btn-top" %>
              <%= cl_image_tag warrior.photo, class: 'card-my-warriors-img'%>
              <div class="d-flex flex-column justify-content-center bg-white p-3 flex-grow-1">
                <h2 class="nickname"><%= warrior.nickname %></h2>
                <%= link_to "See bookings on this warrior", warrior_bookings_path(warrior) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
