 .alert {
  position: absolute;
  top: 8px;
  z-index: 3000;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.alert-info {
  border: 3px solid #8DB438;
  background-color: #DAE9B8;
}

.alert-warning {
  border: 3px solid #FA7921;
  background-color: #FDCEAE;
}

.alert-danger {
  border: 3px solid #C42021;
  background-color: #E9ADAE;
}

.content {
  position: relative;
}
