.banner {
  background-size: cover;
  background-position: center;
  padding: 280px 0;
  margin-top: -16px;
}

.banner h1 {
  margin: 0;
  color: #722329;
  text-shadow: 1px 1px 3px #EBEAEB;
  font-size: 48px;
  font-weight: black;
}

.banner p {
  font-size: 20px;
  color: #97393D;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .container {
  margin-left: 48px;
}
