.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-top: -16px;
  filter: contrast(130%) brightness(130%);
}

.banner-text{
  margin: 40px;
}

h1 {
  margin-bottom: 40px;
  margin-left: 40px;
  color: #722329;
  text-shadow: 1px 1px 2px #AE8184;
  font-size: 56px;
  font-weight: black;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  margin-left: 80px;
  text-shadow: 1px 1px 2px black;
}
