.banner {
  background-size: cover;
  background-position: center;
  padding: 280px 0;
  margin-top: -16px;
  filter: contrast(110%) brightness(110%);
}

.banner h1 {
  margin: 0;
  color: #722329;
  text-shadow: 1px 1px 2px #AE8184;
  font-size: 48px;
  font-weight: black;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 2px black;
}

.banner .container {
  margin-left: 40px;
}
