
.btn-ghost {
  color: #8A92A3;
  border: 1px solid #8A92A3;
  background-color: #E6EDFF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

#btn-log-in {

}

#btn-sign-up {
  background-color: #722329;
  border: 1px solid #A95D60;
  border-radius: 4px;
  opacity: 0.85;
  color: #A5A4A5;
}

#btn-sign-up:hover {
  opacity: 1;
}
