
.card-warrior-show {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  height: 80vh ;
}

.card-warrior-show-attributes span{
  color: #232b2b;
  font-weight: 700;
  margin-right: 0.5rem;
}

.card-warrior-show-attributes i { 
  margin: 0 0.5rem;
}

.card-warrior-show-infos {
  padding: 1rem;
}

.card-warrior-show-infos span {
  color:$bordeaux;
}
.card-warrior-show  {
  p{
    font-size: 0.75rem;
  }
  h1 {
    font-size: 24px;
  }
  img {
    object-fit: contain;
    width: 33vw;
    height: 100%;
  }
}
.card-warrior-show:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.card-warrior-show-description span {
  margin-left: 0.5rem;
}