.footer {
  background: #d3cfd3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 250px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid #a0a0a0;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright{

}

.footer .fa-crown {
  color: #DD9811;
}

.page {
  min-height: 100vh;
}
