.form {
  background-color: white;
  color: black;
  padding: 16px;
  border-radius: 3px;
  width: 30vw;
  min-width: 250px;
}

.sign {
  background-color: #2b3137;
  color: #ebeaeb;
  min-height: 100vh;
  padding: 56px;
  margin-top: -16px;
}

.signup-pres {
  max-width: 40vw;
  margin-right: 48px;
}

.form-add-warrior{
  background-color: #ebeaeb;
  padding: 16px;
  border-radius: 3px;
  width: 50vw;
  min-width: 250px;
  margin: auto;
  margin-bottom: 48px;
}

.form-book-warrior{
  background-color: #ebeaeb;
  padding: 16px;
  border-radius: 3px;
  width: 40vw;
  margin-left: 24px;
  margin-bottom: 32px;
  min-width: 250px;
}

