.form {
  background-color: white;
  color: black;
  padding: 16px;
  border-radius: 3px;
  width: 30vw;
  min-width: 250px;
}

.sign {
  background-color: #2b3137;
  color: #ebeaeb;
  min-height: 100vh;
  padding: 56px;
  margin-top: -16px;
}

.signup-pres {
  max-width: 40vw;
  margin-right: 48px;
}

.form-add-warrior{
  background-color: #ebeaeb;
  padding: 16px;
  border-radius: 3px;
  width: 50vw;
  min-width: 250px;
  margin: auto;
  margin-bottom: 48px;
}

.form-book-warrior{
  background-color: #ebeaeb;
  padding: 16px;
  border-radius: 3px;
  width: 40vw;
  margin-left: 24px;
  margin-bottom: 32px;
  min-width: 250px;
}

.total-box {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  border: 1px solid #ced4da;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  margin: 8px 0;
  text-align: center
}

.price {
  display: flex;
  margin-left: 24px;
}

