.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: #EBEAEB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 64px;
}
.navbar-lewagon .nav-item-logo img {
  width: 28px;
}

.navbar-lewagon .nav-item {
  margin-left: 8px;
}

#navbarDropdown {
  margin-left: 16px;
}

.navbar-lewagon .nav-title {
  margin-right: auto;
}

.navbar-lewagon .nav-title h1 {
  margin: auto;
  font-size: 36px;
}

.nav-action-link {
  display: flex;
  margin-right: 16px;
}

#navbarSupportedContent {
  ul {
    display :flex;
    justify-content : center;
    align-items: center;
  }
}
